name: CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        julia-version: [1.0.4, 1.2.0]
        os: [ubuntu-latest]
    
    steps:
      - uses: actions/checkout@v1.0.0
      - uses: julia-actions/setup-julia@latest
        with:
          version: ${{ matrix.julia-version }}
      - uses: actions/setup-python@v1
        with:
          python-version: '3.6'
      - name: "Setup tests"
        run: |
          julia --project=@. -e "using Pkg; Pkg.instantiate();"
          julia --project=@. -e "using Pkg; Pkg.add(\"PyCall\");"
          pip install future numpy 'scipy==0.19.1'
          pip install pyhsmm
      - name: "Run Julia tests"
        run: |
          julia --project=@. --check-bounds=yes -e "using Pkg; Pkg.test(\"HMMBase\", coverage=true);"
      - name: "Run Python tests"
        run: |
          julia --project=@. --check-bounds=yes test/pyhsmm.jl
      - name: "Upload coverage"
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        run: |
          julia --project=@. -e "using Pkg; Pkg.add(\"Coverage\"); using Coverage; Codecov.submit(Codecov.process_folder())"
