name: CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        julia-version: ['1.0', '1']
        python-version: ['3.6']
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@latest
        with:
          version: ${{ matrix.julia-version }}
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: "Setup tests"
        run: |
          julia --project=. -e "using Pkg; Pkg.instantiate();"
          julia --project=. -e "using Pkg; Pkg.add(\"PyCall\");"
          pip install future numpy 'scipy==1.1.0' requests
          pip install git+https://github.com/maxmouchet/pybasicbayes.git
          pip install git+https://github.com/maxmouchet/pyhsmm.git
      - name: "Run Julia tests"
        run: |
          julia --project=. --check-bounds=yes -e "using Pkg; Pkg.test(coverage=true);"
      - name: "Run Python tests"
        run: |
          julia --project=. --check-bounds=yes test/pyhsmm.jl
      - name: "Upload coverage"
        # Don't fail if the Codecov API times out.
        continue-on-error: true
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        run: |
          julia -e "using Pkg; Pkg.add(\"Coverage\"); using Coverage; Codecov.submit(Codecov.process_folder())"
